LDAP_ORGANISATION=My Organisation
LDAP_DOMAIN=example.local
LDAP_BASE_DN=dc=example,dc=local
LDAP_ADMIN_PASSWORD=changeme
LDAP_CONFIG_PASSWORD=changeme
LDAP_READONLY_USER=true
LDAP_READONLY_USER_USERNAME=readonly
LDAP_READONLY_USER_PASSWORD=changeme

LDAP_PORT=8030

LAM_PASSWORD=changeme
LAM_LANG=es_ES
LAM_PORT=8040
